audit=false
enable-pre-post-scripts=true
fund=false
package-lock=false
prefer-dedupe=true
prefer-offline=false
save-prefix=~
save=false
strict-peer-dependencies=false
unsafe-perm=true
loglevel=error
shamefully-hoist=true
resolution-mode=highest
