/* https://palx.jxnblk.com/3e54ff.css */
:root {
  --gray0: #f8f9fa;
  --gray1: #f1f3f5;
  --gray2: #e9ecef;
  --gray3: #dee2e6;
  --gray4: #ced4da;
  --gray5: #adb5bd;
  --gray6: #868e96;
  --gray7: #495057;
  --gray8: #343a40;
  --gray9: #212529;
  --gray10: #101214;
  --gray11: #010101;
  --gray12: #000;
  /* theme */
  --primary-color: var(--gray10);
  --selection-color: #f9e4ac;
  --bg-color: #fff;
  --serif-font: 'Space Grotesk', sans-serif;
  --sans-serif-font: var(--serif-font);
  --code-font: Source Code Pro, Menlo, monospace;
  --codebox-border-color: var(--gray3);
  --codebox-color: var(--gray12);
}

::selection {
  background: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-color);
}

@keyframes octocat {

  0%,
  to {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-color);
  font-family: var(--sans-serif-font);
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}

.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.github-corner svg {
  color: var(--bg-color);
  fill: var(--primary-color);
  height: 80px;
  width: 80px;
}

.github-corner:hover .octo-arm {
  animation: octocat 0.5 ease-in-out;
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.sidebar {
  font-family: var(--sans-serif-font);
  padding: 40px;
  width: 300px;
  transition: transform 0.25s ease-out;
  overflow: auto;
  height: 100vh;
}

.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px;
}

.sidebar li {
  margin: 6px 0 6px 15px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul ul {
  margin-left: 15px;
}

.sidebar ul,
.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li.active > a {
  border-right: 2px solid var(--primary-color);
  font-weight: 700;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53%, 0.4);
}

.sidebar:hover::-webkit-scrollbar-track {
  background: hsla(0, 0%, 53%, 0.1);
}

body.sticky .sidebar,
body.sticky .sidebar-toggle {
  position: fixed;
}

.content {
  padding-top: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  position: absolute;
  transition: left 0.25s ease;
}

.markdown-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
}

.markdown-section>* {
  box-sizing: border-box;
  font-size: inherit;
}

.markdown-section> :first-child {
  margin-top: 0 !important;
}

@media print {
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .github-corner,
  .sidebar {
    position: fixed;
  }

  .sidebar,
  .sidebar-toggle {
    display: none;
  }

  main {
    height: auto;
    overflow-x: hidden;
  }

  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 0.25s ease;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}

.sidebar,
body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.markdown-section :is(h1, h2, h3, h4, h5) {
  font-family: var(--serif-font);
  letter-spacing: -.016em;
  line-height: 1.25;
}

.markdown-section :is(h1, h2, h3, h4, h5) a:hover::after {
  content: "";
  position: relative;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  top: -2px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-link-2%22%3E%3Cpath%20d%3D%22M15%207h3a5%205%200%200%201%205%205%205%205%200%200%201-5%205h-3m-6%200H6a5%205%200%200%201-5-5%205%205%200%200%201%205-5h3%22%3E%3C%2Fpath%3E%3Cline%20x1%3D%228%22%20y1%3D%2212%22%20x2%3D%2216%22%20y2%3D%2212%22%3E%3C%2Fline%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.markdown-section a {
  color: var(--primary-color);
  text-decoration: none;
}

.markdown-section :is(li, p) a {
  text-decoration: none;
  border-bottom: 2px solid var(--gray3);
}

.markdown-section :is(p, li) a:hover {
  border-bottom: 2px solid var(--gray12);
}

.markdown-section p a[href^="http"]::after,
.markdown-section p a[href^="https://"]::after,
.markdown-section li a[href^="http"]::after,
.markdown-section li a[href^="https://"]::after {
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 2px;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-arrow-up-right%22%3E%3Cline%20x1%3D%227%22%20y1%3D%2217%22%20x2%3D%2217%22%20y2%3D%227%22%3E%3C%2Fline%3E%3Cpolyline%20points%3D%227%207%2017%207%2017%2017%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.markdown-section p a[href^="http"]:hover::after,
.markdown-section li a[href^="http"]:hover::after,
.markdown-section p a[href^="https://"]:hover::after,
.markdown-section li a[href^="https://"]:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-arrow-right%22%3E%3Cline%20x1%3D%225%22%20y1%3D%2212%22%20x2%3D%2219%22%20y2%3D%2212%22%3E%3C%2Fline%3E%3Cpolyline%20points%3D%2212%205%2019%2012%2012%2019%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E");
}

.markdown-section h1 {
  font-size: 4rem;
  margin: 4rem 0 1rem;
}

.markdown-section h2 {
  font-size: 2.5rem;
  margin: 3.5rem 0 1rem;
}

.markdown-section h3 {
  font-size: 2rem;
  margin: 3rem 0 1rem;
}

.markdown-section h4 {
  font-size: 1.5rem;
  margin: 2.5rem 0 1rem;
}

.markdown-section h5 {
  font-size: 1rem;
}

.markdown-section p {
  margin: 1.5rem 0 0 0;
}

.markdown-section :is(p, ul) {
  letter-spacing: .004em;
  font-size: 17px;
  line-height: 1.6;
}

.markdown-section ul {
  padding-left: 32px;
}

.markdown-section ul li {
  margin-bottom: 1rem;
}

.markdown-section :is(li,p) code {
  background: var(--bg-color);
  border-radius: 3px;
  border: 1px solid var(--codebox-border-color);
  color: var(--codebox-color);
  font-family: var(--code-font);
  font-size: 0.75rem;
  margin: 0 2px;
  padding: 4px 5px;
  white-space: nowrap;
}

#banner {
  width: 60%;
  display: flex;
  margin: auto;
}

.app-name {
  display: flex;
  justify-content: center;
}

.app-name-link img {
  width: 32px;
  height: 32px;
}
